{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'participant.list.title'|trans({'%title%': event.title }) }} - {{ parent() }}
{% endblock %}

{% block main %}
    <h1>{{ 'participant.list.title'|trans({'%title%': event.title }) }} ({{ paginatedParticipants.totalItems }})</h1>
    <a href="{{ path('app_participants_add', {uuid: event.uuid }) }}">{{ 'participant.add.title'|trans }}</a>
    <table data-testid="participant-list">
        <thead>
            <tr>
                <th>{{ 'participant.list.firstName'|trans }}</th>
                <th>{{ 'participant.list.lastName'|trans }}</th>
                <th>{{ 'participant.list.email'|trans }}</th>
                <th>{{ 'participant.list.password'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in paginatedParticipants.items %}
                <tr id="block_participant_{{ participant.uuid }}">
                    <td>{{ participant.firstName }}</td>
                    <td>{{ participant.lastName }}</td>
                    <td>{{ participant.email }}</td>
                    <td>
                        {{ participant.accessCode }}
                        {% if participant.accessSent %}
                            - {{ 'participant.list.password.sent'|trans }}
                        {% else %}
                            - {{ 'participant.list.password.unSent'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_participants_edit', { uuid: participant.uuid, eventUuid: event.uuid }) }}">{{ 'common.edit'|trans }}</a>
                        <form
                            method="delete"
                            action="{{ path('fragment_participant_delete', { eventUuid: event.uuid, uuid: participant.uuid }) }}"
                        >
                            <button title="{{ 'common.delete'|trans }}">
                                {{ 'common.delete'|trans }}
                            </button>
                            <input type="hidden" name="token" value="{{ csrf_token('delete-participant') }}" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {{ 'participant.list.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock main %}
