<div class="flex justify-between items-center lg:order-2">
    <button type="button" class="flex text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="userMenuDropdownButton" aria-expanded="false" data-dropdown-toggle="userMenuDropdown">
        <span class="sr-only">Open user menu</span>
        <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <span class="font-medium text-gray-600 dark:text-gray-300">{{ app.user.firstName|first ~ app.user.lastName|first }}</span>
        </div>
    </button>
    <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="userMenuDropdown">
        <div class="py-3 px-4">
            <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span>
            <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ app.user.username }}</span>
        </div>
        <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="userMenuDropdownButton">
            <li>
                <a href="{{ path('app_profile_edit') }}" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">{{ 'profile.title'|trans }}</a>
            </li>
        </ul>
        <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
            <li>
                <a href="{{ path('app_logout') }}" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'common.logout'|trans }}</a>
            </li>
        </ul>
    </div>
    <button type="button" id="toggleMobileMenuButton" data-collapse-toggle="toggleMobileMenu" class="items-center ml-1 p-2 text-gray-500 rounded-lg md:ml-2 lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
        <span class="sr-only">Open menu</span>
        <svg class="w-[18px] h-[18px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/></svg>
    </button>
</div>
