<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="{{ path('app_home') }}" class="flex items-center">
            <img src="{{ asset('logo.png') }}" class="mr-3 h-6 sm:h-9" altalt="Leeco logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ 'common.title'|trans }}</span>
        </a>
        <div class="flex items-center lg:order-2">
            {% if app.user %}
                <a href="{{ path('app_events_list') }}" class="justify-center items-center py-2 px-4 text-sm font-medium text-white bg-primary-700 rounded-lg sm:inline-flex hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <svg class="w-6 h-6 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                    </svg>
                    {{ 'event.list.title'|trans }}
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="hidden lg:block text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">{{ 'login.title'|trans }}</a>
                <a href="{{ path('app_register') }}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">{{ 'header.free_try'|trans }}</a>
            {% endif %}
        </div>
    </div>
</nav>
