{% extends 'layout.html.twig' %}

{% block title %}
    {{ tag is defined ? 'tag.edit.title'|trans({ '%title%': tag.title }) : 'tag.add.title'|trans }} - {{ parent() }}
{% endblock %}

{% set title = tag is defined ? 'tag.edit.title'|trans({ '%title%': tag.title }) : 'tag.add.title'|trans %}
{% set period %}{% include 'app/event/_period.html.twig' with { startDate: event.startDate, endDate: event.endDate} only %}{% endset %}

{% block current_event %}
    {% include 'app/event/_current.html.twig' with { event } only %}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'tag.list'|trans, path: path('app_tags_list', { eventUuid: event.uuid }) },
        { title },
    ] } only %}

    <div class="mb-8">
        <h1 class="inline-block text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{ title }}</h1>
        <p class="mt-1 text-lg text-gray-500 dark:text-gray-400">{{ 'tag.form.event_period'|trans({'%period%': period }) }}</p>
    </div>
    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
        {{ form(form) }}
    </div>
{% endblock main %}
