{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'tag.list.title'|trans({ '%title%': event.title }) }} - {{ parent() }}
{% endblock %}

{% block main %}
    <h1>{{ 'tag.list.title'|trans({ '%title%': event.title }) }} ({{ paginatedTags.totalItems }})</h1>
    <a href="{{ path('app_tags_add', { uuid: event.uuid }) }}">{{ 'tag.add.title'|trans }}</a>
    <table data-testid="tag-list">
        <thead>
            <tr>
                <th>{{ 'tag.list.title_name'|trans }}</th>
                <th>{{ 'tag.list.startDate'|trans }}</th>
                <th>{{ 'tag.list.endDate'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in paginatedTags.items %}
                <tr id="block_tag_{{ tag.uuid }}">
                    <td>{{ tag.title }}</td>
                    <td>{{ app_datetime(tag.startDate) }}</td>
                    <td>{{ app_datetime(tag.endDate) }}</td>
                    <td>
                        <a href="{{ path('app_tags_edit', { uuid: tag.uuid, eventUuid: event.uuid }) }}">{{ 'common.edit'|trans }}</a>
                        <form
                            method="delete"
                            action="{{ path('fragment_tag_delete', { eventUuid: event.uuid, uuid: tag.uuid }) }}"
                        >
                            <button title="{{ 'common.delete'|trans }}">
                                {{ 'common.delete'|trans }}
                            </button>
                            <input type="hidden" name="token" value="{{ csrf_token('delete-tag') }}" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        {{ 'tag.list.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock main %}
