{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'tag.list'|trans }} - {{ parent() }}
{% endblock %}

{% block current_event %}
    {% include 'app/event/_current.html.twig' with { event } only %}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'tag.list'|trans },
    ] } only %}

    <div class="mb-8 flex items-center justify-between ">
        <div>
            <h1 class="inline-block text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{ 'tag.list'|trans }}</h1>
            <p class="mt-1 text-lg text-gray-500 dark:text-gray-400">{{ 'tag.list.description'|trans }}</p>
        </div>
        <div class="flex-shrink-0 flex flex-row items-center justify-end space-x-3">
            <a href="{{ path('app_tags_add', { eventUuid: event.uuid } )}}" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                </svg>
                {{ 'tag.add.title'|trans }}
            </a>
        </div>
    </div>

    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden mb-4">
        <div class="overflow-x-auto">
            <table data-testid="tag-list" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 min-w-[14rem]">{{ 'tag.list.title_name'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'tag.list.associate_media'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'tag.list.startDate'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'tag.list.endDate'|trans }}</th>
                        <th scope="col" class="px-4 py-3">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in paginatedTags.items %}
                        <tr id="block_tag_{{ tag.uuid }}" class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ tag.title }}</td>
                            <td class="px-4 py-3">0</td>
                            <td class="px-4 py-3">{{ app_datetime(tag.startDate) }}</td>
                            <td class="px-4 py-3">{{ app_datetime(tag.endDate) }}</td>
                            <td class="px-4 py-3">
                                <a href="{{ path('app_tags_edit', { uuid: tag.uuid, eventUuid: event.uuid }) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ 'common.edit'|trans }}</a>
                                <form method="delete" action="{{ path('fragment_tag_delete', { eventUuid: event.uuid, uuid: tag.uuid }) }}">
                                    <button type="button" data-modal-target="deleteModal-{{ tag.uuid }}" data-modal-toggle="deleteModal-{{ tag.uuid }}" class="font-medium text-red-600 dark:text-red-500 hover:underline " title="{{ 'common.delete'|trans }}">
                                        {{ 'common.delete'|trans }}
                                    </button>
                                    {% include 'common/modal/delete.html.twig' with { modalId: 'deleteModal-' ~ tag.uuid, title: 'tag.delete.confirm'|trans } %}
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-tag') }}" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with { pagination: paginatedTags } %}
    </div>
{% endblock main %}
