{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'tag.list'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'tag.list'|trans },
    ] } only %}
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden mb-4">
        {% include 'app/tag/_head.html.twig' %}
        <div class="overflow-x-auto">
            <table data-testid="tag-list" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 min-w-[14rem]">{{ 'tag.list.title_name'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'tag.list.startDate'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'tag.list.endDate'|trans }}</th>
                        <th scope="col" class="px-4 py-3">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in paginatedTags.items %}
                        <tr id="block_participant_{{ tag.uuid }}" class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ tag.title }}</td>
                            <td class="px-4 py-3">{{ app_datetime(tag.startDate) }}</td>
                            <td class="px-4 py-3">{{ app_datetime(tag.endDate) }}</td>
                            <td class="px-4 py-3">
                                <button id="{{ tag.uuid }}-dropdown-button" type="button" data-dropdown-toggle="{{ tag.uuid }}-dropdown" class="inline-flex items-center p-1 text-sm font-medium text-center text-gray-500 hover:text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                                <div id="{{ tag.uuid }}-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="{{ tag.uuid }}-dropdown-button">
                                        <li>
                                            <a href="{{ path('app_tags_edit', { uuid: tag.uuid, eventUuid: event.uuid }) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'common.edit'|trans }}</a>
                                        </li>
                                        <li>
                                            <form method="delete" action="{{ path('fragment_tag_delete', { eventUuid: event.uuid, uuid: tag.uuid }) }}">
                                                <button title="{{ 'common.delete'|trans }}">
                                                    {{ 'common.delete'|trans }}
                                                </button>
                                                <input type="hidden" name="token" value="{{ csrf_token('delete-tag') }}" />
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="px-4 py-3" colspan="4">
                                {{ 'tag.list.empty'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with { pagination: paginatedTags } %}
    </div>
{% endblock main %}
