{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'register.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <h1>{{ 'register.title'|trans }}</h1>
    <p>{{ 'common.form.mandatory_fields'|trans|raw }}</p>

    {{ form_start(form) }}
        {{ form_row(form.firstName, { row_attr: { class: 'j-input-group' } }) }}
        {{ form_row(form.lastName, { row_attr: { class: 'j-input-group' } }) }}
        {{ form_row(form.email, { row_attr: { class: 'j-input-group' } }) }}
        {{ form_row(form.password.first, { row_attr: { class: 'j-input-group' } }) }}
        {{ form_row(form.password.second, { row_attr: { class: 'j-input-group' } }) }}
        {{ form_row(form.save, { attr: { class: 'j-btn j-btn--action' } }) }}
    {{ form_end(form) }}
    <p>
        {{ 'register.already_registered'|trans }}
        <a href="{{ path('app_login') }}">{{ 'login.title'|trans }}</a>
    </p>
{% endblock main %}
