{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'guest.list.title'|trans({ '%title%': event.title }) }} - {{ parent() }}
{% endblock %}

{% block current_event %}
    {% include 'app/event/_current.html.twig' with { event } only %}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'guest.list.title'|trans },
    ] } only %}
    <div class="mb-8">
        <h1 class="inline-block text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{ 'guest.list.title'|trans }}</h1>
        <p class="mt-1 text-lg text-gray-500 dark:text-gray-400">{{ 'guest.list.title.description'|trans }}</p>
    </div>
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden mb-4">
        <div class="overflow-x-auto">
            <table data-testid="guest-list" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'guest.list.lastName'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'guest.list.firstName'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'guest.list.createdAt'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[3rem]">{{ 'guest.list.medias'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[3rem]">{{ 'guest.list.like'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[3rem]">{{ 'guest.list.comment'|trans }}</th>
                        <th scope="col" class="px-4 py-3">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guest in paginatedGuests.items %}
                        <tr id="block_guest_{{ guest.uuid }}" class="hover:bg-gray-50 dark:hover:bg-gray-600 border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ guest.lastName }}</td>
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ guest.firstName }}
                            </td>
                            <td class="px-4 py-3">{{ app_datetime(guest.createdAt) }}</td>
                            <td class="px-4 py-3">0</td>
                            <td class="px-4 py-3">0</td>
                            <td class="px-4 py-3">0</td>
                            <td class="px-4 py-3">
                                <form method="delete" action="{{ path('fragment_guest_delete', { eventUuid: event.uuid, uuid: guest.uuid }) }}">
                                    <button type="button" data-modal-target="deleteModal-{{ guest.uuid }}" data-modal-toggle="deleteModal-{{ guest.uuid }}" class="font-medium text-red-600 dark:text-red-500 hover:underline " title="{{ 'common.delete'|trans }}">
                                        {{ 'common.delete'|trans }}
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-guest') }}" />
                                    {% include 'common/modal/delete.html.twig' with { modalId: 'deleteModal-' ~ guest.uuid, title: 'guest.delete.confirm'|trans } %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with { pagination: paginatedGuests } %}
    </div>
{% endblock main %}
