{% set routeName = app.request.get('_route') %}

{% if app.request.requestUri starts with '/app' %}
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-900">
        <div class="flex justify-between items-center">
            <div class="flex justify-start items-center">
                <a href="{{ path('app_dashboard') }}" class="flex mr-2">
                    <img src="{{ asset('logo.png') }}" class="h-8" alt="Moment Logo" />
                    <span class="hidden ml-3 lg:block self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ 'common.title'|trans }}</span>
                </a>

                {% if 'app_tags' in routeName or 'app_participants' in routeName or 'app_events_dashboard' in routeName %}
                <div class="flex items-center sm:mb-0">
                    <button id="dropdownUserNameButton" data-dropdown-toggle="dropdownUserName" data-dropdown-placement="bottom" class="flex justify-between items-center p-2 rounded-lg dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-100 dark:hover-bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700" type="button">
                        <span class="sr-only">Open user menu</span>
                        <div class="flex items-center mr-2">
                            <div class="text-left">
                                <div class="text-sm font-semibold leading-none text-gray-900 dark:text-white">Mariage H&M</div>
                            </div>
                        </div>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 16"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5m0 6 4 4 4-4"/></svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownUserName" class="hidden z-10 w-48 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" data-popper-placement="bottom">
                        <a href="{{ path('app_events_list') }}" class="flex items-center py-3 px-4 rounded hover:bg-gray-50 dark:hover:bg-gray-600">
                            <div class="text-left">
                                <div class="font-medium leading-none text-gray-900 dark:text-white mb-0.5 text-sm">
                                    {{ 'event.list.title'|trans }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="flex justify-between items-center lg:order-2">
                <button type="button" class="hidden justify-center items-center py-2 px-4 mr-2 text-sm font-medium text-white bg-primary-700 rounded-lg sm:inline-flex hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"><svg class="mr-1 -ml-1 w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg> Version Pro</button>
                <button type="button" class="flex text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="userMenuDropdownButton" aria-expanded="false" data-dropdown-toggle="userMenuDropdown">
                    <span class="sr-only">Open user menu</span>
                    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                        <span class="font-medium text-gray-600 dark:text-gray-300">{{ app.user.firstName|first ~ app.user.lastName|first }}</span>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="userMenuDropdown">
                    <div class="py-3 px-4">
                        <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ app.user.username }}</span>
                    </div>
                    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="userMenuDropdownButton">
                        <li>
                            <a href="{{ path('app_profile_edit') }}" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">{{ 'profile.title'|trans }}</a>
                        </li>
                    </ul>
                    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                        <li>
                            <a href="{{ path('app_logout') }}" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'common.logout'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" id="toggleMobileMenuButton" data-collapse-toggle="toggleMobileMenu" class="items-center ml-1 p-2 text-gray-500 rounded-lg md:ml-2 lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                    <span class="sr-only">Open menu</span>
                    <svg class="w-[18px] h-[18px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/></svg>
                </button>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="{{ path('app_home') }}" class="flex items-center">
                <img src="{{ asset('logo.png') }}" class="mr-3 h-6 sm:h-9" altalt="Moment logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ 'common.title'|trans }}</span>
            </a>
            <div class="flex items-center lg:order-2">
                {% if app.user %}
                    <a href="{{ path('app_dashboard') }}" class="justify-center items-center py-2 px-4 text-sm font-medium text-white bg-primary-700 rounded-lg sm:inline-flex hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="w-6 h-6 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                        </svg>
                        {{ 'dashboard.title'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="hidden lg:block text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">{{ 'login.title'|trans }}</a>
                    <a href="{{ path('app_register') }}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">{{ 'header.free_try'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endif %}
