<!doctype html>
<html lang="fr">
  <head>
    {% set _nonce = csp_nonce('script') %}
    {% set _nonce = csp_nonce('style') %}
    <meta name="csp-nonce" content="{{ _nonce }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>

  <body class="bg-gray-50 dark:bg-gray-900">
    <header>
      {% block header %}
        {% if app.request.requestUri starts with '/app' %}
            {% if not app.request.get('eventUuid') %}
                {% include 'common/menus/main.html.twig' %}
            {% endif %}
        {% else %}
            {% include 'common/menus/not-connected.html.twig' %}
        {% endif %}
      {% endblock%}
    </header>
    <main class="pt-4 pl-4 pr-4">
        {% block main %}{% endblock %}
    </main>
    {% include 'common/footer.html.twig' %}
  </body>
</html>
