{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'reset_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-20 lg:py-16 lg:grid-cols-12">
        <div class="w-full place-self-center lg:col-span-6">
            <div class="p-6 mx-auto bg-white rounded-lg shadow dark:bg-gray-800 sm:max-w-xl sm:p-8">
                <h1 class="mb-2 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
                    {{ 'reset_password.title'|trans }}
                </h1>
                {% if app.request.get('error') %}
                    {% include 'common/alert/danger.html.twig' with { title: 'reset_password.token.error'|trans } %}
                    <a href="{{ path('app_login') }}" class="mt-4 block w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 sm:py-3.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ 'login.title'|trans }}</a>
                {% else %}
                    {{ form_start(form) }}
                        {{ form_row(form.password.first) }}
                        {{ form_row(form.password.second) }}
                        {{ form_row(form.save) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
        <div class="mr-auto place-self-center lg:col-span-6">
            <img class="hidden mx-auto lg:flex" src="{{ asset('images/sign-in.svg')}}" alt="illustration">
        </div>
    </div>
</section>
{% endblock main %}
