{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'event.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% block sub_menu %}{% include 'common/menu.html.twig' %}{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans }
    ] } only %}
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden mb-4">
        <div class="mx-4">
            <div class="flex items-center justify-between space-x-4 pt-3">
                <div class="flex-1 flex items-center space-x-3">
                    <h1 class="dark:text-white font-semibold">{{ 'event.list.title'|trans }}</h1>
                </div>
                <div class="flex-shrink-0 flex flex-row items-center justify-end space-x-3">
                    <a href="{{ path('app_events_add' )}}" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        {{ 'event.add.title'|trans }}
                    </a>
                </div>
            </div>
            <div class="flex flex-col-reverse md:flex-row items-center justify-between md:space-x-4 py-3">
                <div class="w-full lg:w-2/3 flex flex-col space-y-3 md:space-y-0 md:flex-row md:items-center">
                    <form class="w-full md:max-w-sm flex-1 md:mr-4">
                        <label for="default-search" class="text-sm font-medium text-gray-900 sr-only dark:text-white">{{ 'common.search'|trans }}</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </div>
                            <input type="search" id="default-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ 'common.search'|trans }}..." required="">
                            <button type="submit" class="text-white absolute right-0 bottom-0 top-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-r-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ 'common.search'|trans }}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table data-testid="event-list" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 min-w-[14rem]">{{ 'event.list.event'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">
                            {{ 'event.list.date'|trans }}
                        </th>
                        <th scope="col" class="px-4 py-3">
                            {{ 'common.actions'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in paginatedEvents.items %}
                        <tr id="block_event_{{ event.uuid }}" class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center">
                                {{ event.title }}
                            </td>
                            <td class="px-4 py-3">{{ app_date(event.date) }}</td>
                            <td class="px-4 py-3">
                                <button id="{{ event.uuid }}-dropdown-button" type="button" data-dropdown-toggle="{{ event.uuid }}-dropdown" class="inline-flex items-center p-1 text-sm font-medium text-center text-gray-500 hover:text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                                <div id="{{ event.uuid }}-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="{{ event.uuid }}-dropdown-button">
                                        <li>
                                            <a href="{{ path('app_events_dashboard', { uuid: event.uuid }) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'common.see'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_events_edit', { uuid: event.uuid }) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'common.edit'|trans }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="px-4 py-3" colspan="3">
                                {{ 'event.list.empty'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with { pagination: paginatedEvents } %}
    </div>
{% endblock main %}
