{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'event.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <h1>{{ 'event.title'|trans }}</h1>
    <a href="{{ path('app_events_add' )}}">{{ 'event.add.title'|trans }}</a>
    <table data-testid="event-list">
        <thead>
            <tr>
                <th>{{ 'event.list.event'|trans }}</th>
                <th>{{ 'event.list.date'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in paginatedEvents.items %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('app_events_dashboard', { uuid: event.uuid }) }}">
                            {{ 'common.see'|trans }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        {{ 'event.list.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock main %}
