{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'event.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="mb-8 flex items-center justify-between ">
        <div>
            <h1 class="inline-block text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{ 'dashboard.welcome'|trans({ '%firstName%': app.user.firstName }) }}</h1>
            <p class="mt-1 text-lg text-gray-500 dark:text-gray-400">{{ 'event.list.description'|trans }}</p>
        </div>
        <div class="flex-shrink-0 flex flex-row items-center justify-end space-x-3">
            <a href="{{ path('app_events_add' )}}" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                </svg>
                {{ 'event.add.title'|trans }}
            </a>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden mb-4">
        <div class="overflow-x-auto">
            <table data-testid="event-list" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 min-w-[14rem]">{{ 'event.list.event'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[14rem]">{{ 'event.list.accessCode'|trans }}</th>
                        <th scope="col" class="px-4 py-3 min-w-[10rem]">{{ 'event.list.period'|trans }}</th>
                        <th scope="col" class="px-4 py-3">
                            {{ 'common.actions'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in paginatedEvents.items %}
                        <tr id="block_event_{{ event.uuid }}" class="hover:bg-gray-50 dark:hover:bg-gray-600 border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center">
                                <a href="{{ path('app_events_dashboard', { eventUuid: event.uuid }) }}">{{ event.title }}</a>
                            </td>
                            <td class="px-4 py-3">
                                {{ event.accessCode }}
                            </td>
                            <td class="px-4 py-3">
                                {% include 'app/event/_period.html.twig' with { startDate: event.startDate, endDate: event.endDate} only %}
                            </td>
                            <td class="px-4 py-3">
                                <a href="{{ path('app_events_dashboard', { eventUuid: event.uuid }) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ 'common.see'|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="px-4 py-3" colspan="3">
                                {{ 'event.list.empty'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with { pagination: paginatedEvents } %}
    </div>
{% endblock main %}
